.footer__wrapper {
  display: grid;
  width: 100vw;
  height:100vh;
  grid-template-columns: fit-content(40%);
  background-color: inherit;
}

.footer__Header {
  border: lawngreen solid;
  /* width: 100%; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #f7cd32;
  text-transform: uppercase;
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
  background-color: inherit;
}

#footer__img {
  border: red solid;
  width: 10rem;
  height: 10rem;
}

#footer__TeamCardBubbles {
  border: lawngreen solid;
  background-color: inherit;
  grid-row: 2;
  grid-column: 2;
}

.footer__copyright {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #f7cd32;
  grid-row: 4;
  grid-column: 1/4;
}