.home__Container {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__Tagline {
  font-family: Arial, Helvetica, sans-serif;
  color: #f7cd32;
  padding: 1rem;
}

/* .home__Tag {
  color: #fca12eff;
} */

.home__Text {
  /* border: khaki solid; */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

