<div data-test="container" class="container-fluid section mb-5 border p-3">
  <nav data-test="navbar" class="navbar-light amber lighten-4 navbar" role="navigation" style="margin-top: 20px;">
    <div data-test="container" class="container">
      <div data-test="navbar-brand" class="navbar-brand">Navbar</div>
      <input data-test="hamburger-toggler" type="checkbox" class="hamburger-button__checkbox" id="hamburger1" /><label
        id="nav-icon1" class="hamburger-button__button" for="hamburger1"><span
          style="background: rgb(211, 83, 26);"></span><span style="background: rgb(211, 83, 26);"></span><span
          style="background: rgb(211, 83, 26);"></span></label>
      <div data-test="collapse" class="collapse show navbar-collapse" style="">
        <ul data-test="navbar-nav" class="navbar-nav mr-auto">
          <li data-test="nav-item" class="nav-item active">
            <a data-test="link-router" class="nav-link Ripple-parent" href="/navigation/pro/hamburger-menu#!">Home
              <div data-test="waves" class="Ripple" style="top: 0px; left: 0px; width: 0px; height: 0px;"></div></a>
          </li>
          <li data-test="nav-item" class="nav-item">
            <a data-test="link-router" class="nav-link Ripple-parent" href="/navigation/pro/hamburger-menu#!">Link
              <div data-test="waves" class="Ripple" style="top: 0px; left: 0px; width: 0px; height: 0px;"></div></a>
          </li>
          <li data-test="nav-item" class="nav-item">
            <a data-test="link-router" class="nav-link Ripple-parent" href="/navigation/pro/hamburger-menu#!">Profile
              <div data-test="waves" class="Ripple" style="top: 0px; left: 0px; width: 0px; height: 0px;"></div></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav data-test="navbar" class="navbar-dark bg-danger navbar" role="navigation" style="margin-top: 20px;">
    <div data-test="container" class="container">
      <div data-test="navbar-brand" class="navbar-brand white-text">Navbar</div>
      <input data-test="hamburger-toggler" type="checkbox" class="hamburger-button__checkbox" id="hamburger2"
        checked="" /><label id="nav-icon1" class="hamburger-button__button"
        for="hamburger2"><span></span><span></span><span></span></label>
      <div data-test="collapse" class="collapse navbar-collapse" style="">
        <ul data-test="navbar-nav" class="navbar-nav mr-auto">
          <li data-test="nav-item" class="nav-item active">
            <a data-test="link-router" class="nav-link Ripple-parent" href="/navigation/pro/hamburger-menu#!">Home
              <div data-test="waves" class="Ripple" style="top: 0px; left: 0px; width: 0px; height: 0px;"></div></a>
          </li>
          <li data-test="nav-item" class="nav-item">
            <a data-test="link-router" class="nav-link Ripple-parent" href="/navigation/pro/hamburger-menu#!">Link
              <div data-test="waves" class="Ripple" style="top: 0px; left: 0px; width: 0px; height: 0px;"></div></a>
          </li>
          <li data-test="nav-item" class="nav-item">
            <a data-test="link-router" class="nav-link Ripple-parent" href="/navigation/pro/hamburger-menu#!">Profile
              <div data-test="waves" class="Ripple" style="top: 0px; left: 0px; width: 0px; height: 0px;"></div></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav data-test="navbar" class="navbar-dark indigo darken-2 navbar" role="navigation" style="margin-top: 20px;">
    <div data-test="container" class="container">
      <div data-test="navbar-brand" class="navbar-brand white-text">Navbar</div>
      <input data-test="hamburger-toggler" type="checkbox" class="hamburger-button__checkbox" id="hamburger3" /><label
        id="nav-icon1" class="hamburger-button__button" for="hamburger3"><span></span><span></span><span></span></label>
      <div data-test="collapse" class="collapse navbar-collapse">
        <ul data-test="navbar-nav" class="navbar-nav mr-auto">
          <li data-test="nav-item" class="nav-item active">
            <a data-test="link-router" class="nav-link Ripple-parent" href="/navigation/pro/hamburger-menu#!">Home
              <div data-test="waves" class="Ripple" style="top: 0px; left: 0px; width: 0px; height: 0px;"></div></a>
          </li>
          <li data-test="nav-item" class="nav-item">
            <a data-test="link-router" class="nav-link Ripple-parent" href="/navigation/pro/hamburger-menu#!">Link
              <div data-test="waves" class="Ripple" style="top: 0px; left: 0px; width: 0px; height: 0px;"></div></a>
          </li>
          <li data-test="nav-item" class="nav-item">
            <a data-test="link-router" class="nav-link Ripple-parent" href="/navigation/pro/hamburger-menu#!">Profile
              <div data-test="waves" class="Ripple" style="top: 0px; left: 0px; width: 0px; height: 0px;"></div></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>