.placeHolder__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeHolder__Card {
  padding: 5rem;
  font-size: x-large;
}

.App__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* * {
  border: 1px red solid;
} */